Django==5.2.3
gunicorn

# REST API
djangorestframework==3.16.0

# Cloudinary
cloudinary==1.44.0
django-cloudinary-storage==0.3.0

# PostgreSQL
psycopg2-binary==2.9.10
dj-database-url

# CORS
django-cors-headers

# TTS и мультимедиа
edge-tts
pydub==0.25.1
ffmpeg-python
moviepy>=1.0.3

# Утилиты
requests
sqlparse
tzdata
python-dotenv

